<div span class="contain">
    <span>Adicionar um Carro</span>
</div>
<div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Cor</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>Ano</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="example-container">
    <mat-form-field appearance="fill">
      <mat-label>PLaca</mat-label>
      <input matInput required>
    </mat-form-field>
  </div>
