<div class='angulo'>
    <span>Adicionar um Carro</span>
</div>
<div class="forma-container">
    <mat-form-field appearance="fill">
      <mat-label>Nome</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="forma-container">
    <mat-form-field appearance="fill">
      <mat-label>Cor</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="forma-container">
    <mat-form-field appearance="fill">
      <mat-label>Ano</mat-label>
      <input matInput>
    </mat-form-field>
  </div>
  <div class="forma-container">
    <mat-form-field appearance="fill">
      <mat-label>Placa</mat-label>
      <input matInput required>
    </mat-form-field>
    <div class="example-button-row">
      <button mat-button>Adicionar</button>
      <button mat-button>Cancelar</button>
  </div>    
</div>
